# Build directories
build/
bin/
*.o
*.a
*.so
compile_commands.json

# Output directories
output/
telemetry/
scratch/
/*.png
/*.exr
/*.json
!CMakePresets.json
CMakeUserPresets.json
*.spv
*.zip
scenes/*/
!scenes/**.glb
!scenes/**.gltf
!scenes/**.png

# IDE / Editor / UI state
.vscode/
.idea/
*.swp
*~
imgui.ini
